In [1]:
import pickle
from proteinclustertools.layout.circle_layout_tools import Box2DLayout
import re
import os
import pandas as pd

In [6]:
data_dir='cluster_stream_res/' # could be mmseqs_clustering, kmeans, hierarchical_clustering

# alternative examples for other clustering outputs
# data_dir='../output/kmeans/flattened_10000/' # for kmeans
# data_dir='../output/hierarchical_clustering/' # for hierarchical clustering

data_sets={}
for f in os.listdir(data_dir):
    if f.endswith('.csv'):
        cutoff=f.split('_')[-1][:-4]
        data_sets[cutoff]=data_dir+f

# sort the data sets by cutoff
data_sets={k: data_sets[k] for k in sorted(data_sets, key=lambda x: float(x))}
cutoffs=list(data_sets.keys())
print(cutoffs)

['100', '200', '300', '400', '500', '600', '700']

Load all the data sets (cluster definitions) into one file, with the cut-offs as the column headers.

In [7]:
levels=['200','400','500']
levels
for cutoff in levels:
    clu=pd.read_csv(data_sets[cutoff], dtype=str)
    clu=clu.rename(columns={'cluster':cutoff})
    clu=clu.set_index('id')
    if cutoff==levels[0]:
        clust=clu
    else:
        clust=clust.join(clu, how='outer')
clust.reset_index(inplace=True)
clust.head()

           id 200 400 500
0  A0A072UR65   0   0   9
1  A0A072VEP0   0   0  10
2  A0A0A2J9B0   0   0   0
3  A0A0A2JP37   0   0   0
4  A0A0A2JVV3   0   0   0

Get a sense of how many clusters should be visualized.

In [9]:
test_cutoff=2 # minimum number of members in a cluster to be visualized

for level in levels:
    sizes=clust.groupby(level).size()
    print('level', level, ':', sum(sizes>=test_cutoff), 'clusters with at least', test_cutoff, 'members')

level 200 : 4 clusters with at least 2 members
level 400 : 4 clusters with at least 2 members
level 500 : 9 clusters with at least 2 members